{% extends "base.html" %}
{% block title %}{{ super() }}Home{% endblock %}
{% block content %}
    <div class="{{ name }}-container">
        <p><b>Usage:</b></p>
        <a href="/section"><b>GET /section</b></a>
        
        <p>Filter S&P 100 symbols based on section. By default is set to give back all the S&P 100 stocks.
        <br>For the full list of S&P 100 symbols and their section, read the table <a href="">S&P 100 Symbols</a></p>
        <a href="/symbol"><b>GET /symbol</b></a>
        <p>For the selected symbol, return the newest 30 twits from <a href="http://stocktwits.com/developers/docs/api">StockTwits API</a></p>

    </div>
{% endblock %}
